$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg: #0078d7;
$subMenuBg: #0078d7;
$menuHover: #00A0FF;

//自定义
$backgroundColor: #0078d7;
$activeBackgroundColor: #00A0FF;
$textColor: #fff;
$activeTextColor: #fff;
$textColor2: #000;
$activeTextColor2: #000;
